#title {
	text-align: center;
}

/* ##### general ##### */
body {
	margin: 0;
	padding: 0;
	background:  #f1f1f1;
	background-size: 400% 400%;
}

* {
	box-sizing: border-box;
}
main {
	padding: 0 2rem;
}

/* ##### Search ##### */
header {
	background: #3498db;
	margin-bottom: 2rem;
}

input[type='text'] {
	margin: 1rem;
	background: #fff;
	font-size: 1.3rem;
	border: none;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 0 2rem;
	width: calc(100% - 2rem);
	height: 4rem;
}

/* ##### FlowersList ##### */
tr {
	padding: 0;
}
th {
	position: left;
	list-style: none;
	padding: 0.25rem 0.75rem;
	margin: 2px;
	border-radius: 3px;
}
td:hover {
	position: left;
	cursor: pointer;
	background-color: #ccdef9;
}

/* ##### Columns ##### */
.column1 {
	float: left;
	width: 50%;
	padding: 10px;
	background-color: #a7d5f2;
}
.column2 {
	float: left;
	width: 50%;
	padding: 20px;
	background-color: #ccdef9;
}

/* ##### Rows ##### */
.row {
	margin: 1rem;
}

.row:after {
	padding: 1 0rem;
	content: '';
	display: table;
	clear: both;
}

#flowerListings {
	display: block;
	overflow: auto;
	height: 800px;
	border: default;
}

.order {
	border-right: 2px solid #f1f1f1;
}

.textbox {
	height: 20px !important;
	width: 150px !important;
	font-size: 10pt !important;
}

button {
	color: white !important;
}
Button {
	background-color:#2d839f !important;
	border-color: #2d839f !important;
}